@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #1d4350;
    --background: 208 97.35% 98.44%;
    --foreground: 208 4.699999999999999% 0.88%;

    --muted: 208 4.699999999999999% 92.2%;
    --muted-foreground: 208 2.3499999999999996% 42.2%;

    --popover: 208 52.400000000000006% 92.2%;
    --popover-foreground: 208 4.699999999999999% 1.1%;

    --card: 208 52.400000000000006% 92.2%;
    --card-foreground: 208 4.699999999999999% 1.1%;

    --border: 208 9.7% 89.88%;
    --input: 208 9.7% 89.88%;

    --primary: 208 47% 22%;
    --primary-foreground: 208 0.94% 92.2%;

    --secondary: 208 2.3499999999999996% 96.1%;
    --secondary-foreground: 208 3.82% 12.2%;

    --accent: 208 2.3499999999999996% 96.1%;
    --accent-foreground: 208 3.82% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 208 47% 22%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #cc2b5e, #753a88);

    --background: -20 42.25% 3.92%;
    --foreground: -20 6.5% 97.45%;

    --muted: -20 32.5% 14.7%;
    --muted-foreground: -20 6.5% 54.9%;

    --popover: -20 52% 6.37%;
    --popover-foreground: -20 6.5% 97.45%;

    --card: -20 52% 6.37%;
    --card-foreground: -20 6.5% 97.45%;

    --border: -20 32.5% 14.7%;
    --input: -20 32.5% 14.7%;

    --primary: -20 65% 49%;
    --primary-foreground: -20 6.5% 4.9%;

    --secondary: -20 32.5% 14.7%;
    --secondary-foreground: -20 6.5% 97.45%;

    --accent: -20 32.5% 14.7%;
    --accent-foreground: -20 6.5% 97.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -20 6.5% 97.45%;

    --ring: -20 65% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
